@using BrAInsave.DTOs
@model IList<FoodPrefListDTO>
@{
    ViewData["Title"] = "Food preference";
}
<h3>@ViewData["Title"]</h3>
<table class="table table-striped table-bordered
    table-hover table-condensed">
    <thead>
        <tr class="info">
            <th>Food Type</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody class="items-container">
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.FoodType</td>
                    <td>@item.FoodPreferenceDetail</td>
                </tr>
        }
    </tbody>
</table>